---
import PageLayout from '../../layouts/PageLayout.astro';
import { siteUpdates } from "../../data/update";

export const getStaticPaths = () => {
  return siteUpdates.map((update) => ({
    params: { slug: update.slug },
    props: { update },
  }));
};

const { update } = Astro.props;
const pageTitle = update.title;
---

<PageLayout pageTitle={pageTitle} update={update} PubDate={update.date} ModDate={update.updatedAt}>
  <article>
    {update.link ? (
      <p>
        <small>{update.date}</small><span class="text-sm block ml-2">🔗 Link: <a href={update.link} class="link" target="_blank" rel="noopener noreferrer">{update.link}</a></span>
      </p>
    ) : null

    }
    <p>{update.content}</p>

    <p style="margin-top: 2rem;">
      <a href="/updates/" class="link">Back to Updates</a>
    </p>
            <a href="/" class="inline-block mt-6 px-6 py-3 bg-gray-700 hover:bg-gray-600 text-white transition-colors">Back to Home</a>

  </article>
</PageLayout>
