---
import PageLayout from '../layouts/PageLayout.astro';
import { siteUpdates } from "../data/update";
const pageTitle = "NAOMINA121";
const update = siteUpdates;
const pubDate = "2025-12-01";
const modDate = "2025-12-10";
const image = {
    url: '/images/nao2.jpg',
    alt: "Image for Nao's official website",
};
const description = "This is Nao's official website. It features Nao's various content, including blogs on mental health and information literacy.";
---
<PageLayout pageTitle={pageTitle} pubDate={pubDate} modDate={modDate} image={image} description={description}>
<h2>Introduction</h2>
<p>This site is the official website of Nao, operated by <a href="/profile/about" class="link">Nao</a>.</p>
<h2>Published Content</h2>
<p>This section introduces the content available on the site.</p>
<table class="m">
<thead>
<tr>
<th>Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>About This Site</td>
<td>Explains the operational policy and purpose of the site. </td>
</tr>
<tr>
<td>Profile</td>
<td>Basic information about Nao. </td>
</tr>
<tr>
<td>Mental Health</td>
<td>Contains information about mental health compiled by Nao. </td>
</tr>
<tr>
<td>Information Literacy</td>
<td>Contains information on information literacy compiled by Nao. </td>
</tr>
<tr>
<td>Nao's Blog</td>
<td>Nao's blog. </td>
</tr>
<tr>
<td>Nao's Audio Blog</td>
<td>This is Nao's blog for audio distribution. </td>
</tr>
<tr>
<td>Nao's Activity Bases</td>
<td>This contains Nao content from external sites. </td>
</tr>
</tbody>
</table>
<h2>Announcements</h2>
<div class="box">
  <h3 style="font-size:18px; border-bottom:1px solid #727272; margin:0 0 10px 0px; padding: 0px 0px 10px;">
    📰Update History
  </h3>

<p>We aim for a sustainable update frequency, targeting a pace of <u class="orange">once a week</u> for article updates. </p>
  <p>Should you have any questions or feedback regarding article content, please contact us via the <a href="/contact/" class="link">contact page</a>. </p>
  <p class="mt-2 font-semibold" style="color:#ef7e7e; font-weight:500; padding-top:10px; margin-top:10px; border-top:1px solid #727272">Update History for Important Matters</p>

<ul style="font-weight:500;">
    {update.map((update) => {
      return update.category==='Policy' && (
      <li class="my-1">

<time style="color:#ff9a4b;" class="text-sm" datetime={`${update.date}T00:00:00+09:00`}>{update.date}</time>
        {" : "}

<a href={`/updates/${update.slug}`} class="text-[#c9c9c9] hover:underline hover:underline-offset-4">
          {update.title}
        </a>
      </li>
    )
    }).filter(Boolean).slice(0, 3)}
  </ul>
   <p class="mt-2 font-semibold" style="color:#ceb300; font-weight:500; padding-top:10px; margin-top:10px; border-top:1px solid #727272">Site Update History</p>

<ul style="font-weight:500;">
    {update.map((update) => {
      return update.category==='Technical' && (
      <li class="my-1">

<time style="color:#ff9a4b;" class="text-sm" datetime={`${update.date}T00:00:00+09:00`}>{update.date}</time>
        {" : "}

<a href={`/updates/${update.slug}`} class="text-[#c9c9c9] hover:underline hover:underline-offset-4">
          {update.title}
        </a>
      </li>
    )
    }).filter(Boolean).slice(0, 3)}
  </ul>
  <p class="mt-2 font-semibold" style="font-weight:500; colour:#cdcdcd; padding-top:10px; margin-top:10px; border-top:1px solid #727272">Article update history</p>

<ul style="font-weight:500;">
    {update.map((update) => {
      return update.category==='Article' && (
      <li class="my-1">

<time style="color:#ff9a4b;" class="font-weight:500; text-sm" datetime={`${update.date}T00:00:00+09:00`}>{update.date}</time>
        {" : "}

<a href={`/updates/${update.slug}`} class="text-[#c9c9c9] hover:underline hover:underline-offset-4">
          {update.title}
        </a>
      </li>
    )
    }).filter(Boolean).slice(0, 3)}
  </ul>

<p style="margin-top:10px; text-align:right;">
    <a href="/updates/" style="font-weight:100;" class="gold underline hover:text-[#fff]">→ View all updates</a>
  </p>
</div>