---
const pageTitle = "NAOMINA121";
import Layout from "../layouts/Layout.astro";
import { siteUpdates } from "../data/update";
const update = siteUpdates;
const PubDate = "2025-12-01";
const ModDate = "2025-12-11";
---

<Layout pageTitle={pageTitle} PubDate={PubDate} ModDate={ModDate}>
<main class="w-full max-w-6xl bg-[#1e1e1e] pb-[60px] px-16 border-l-[1px] border-[#3c3c3c]">
<img class="profile-picture max-w-full h-auto" src="/images/nao2.jpg" alt="Nobody Is Perfect" />
<h2>Introduction</h2>
<p>This site is the official website of Nao, operated by <a href="/profile/about" class="link">Nao</a>.</p>
<h2>Published Content</h2>
<p>This section introduces the content available on the site. </p>
<table class="m">
<thead>
<tr>
<th>Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Profile</td>
<td>Nao's basic information</td>
</tr>
<tr>
<td>Mental Health</td>
<td>Contains information on mental health compiled by Nao. </td>
</tr>
<tr>
<td>Information Literacy</td>
<td>Contains information on information literacy compiled by Nao. </td>
</tr>
<tr>
<td>Nao's Blog</td>
<td>This is Nao's blog. </td>
</tr>
<tr>
<td>Nao's Activity Bases</td>
<td>Contains Nao content from external sites. </td>
</tr>
</tbody>
</table>
<h2>Announcements</h2>
<div class="box">
  <h3 style="font-size:18px; border-bottom:1px solid #727272; margin:0 0 10px 0px; padding: 0px 0px 10px;">
    📰Update History
  </h3>

<p>We aim for a sustainable update frequency, targeting a pace of <u class="orange">once a week</u> for article updates. </p>
  <p>Should you have any questions or feedback regarding the content of our articles, please contact us via the <a href="/contact/" class="link">contact page</a>. </p>
 <p class="mt-2 font-semibold" style="color:#ef7e7e; padding-top:10px; margin-top:10px; border-top:1px solid #727272">Update History of Important Matters</p>
  <ul style="font-weight:600;">
    {update.map((update) => {
      return update.category==="Policy" && (
      <li class="my-1">
        <time style="color:#ff9a4b;" class="text-sm" datetime={`${update.date}T00:00:00+09:00`}>{update.date}</time>
        {' : '}
        <a href={`/updates/${update.slug}`} class="text-[#c9c9c9] hover:underline hover:underline-offset-4">
          {update.title}
        </a>
      </li>
    )
    }).filter(Boolean).slice(0, 3)}
  </ul>
   <p class="mt-2 font-semibold" style="color:#ceb300; padding-top:10px; margin-top:10px; border-top:1px solid #727272">Site Update History</p>
  <ul style="font-weight:600;">
    {update.map((update) => {
      return update.category==="Technical" && (
      <li class="my-1">
        <time style="color:#ff9a4b;" class="text-sm" datetime={`${update.date}T00:00:00+09:00`}>{update.date}</time>
        {' : '}
        <a href={`/updates/${update.slug}`} class="text-[#c9c9c9] hover:underline hover:underline-offset-4">
          {update.title}
        </a>
      </li>
    )
    }).filter(Boolean).slice(0, 3)}
  </ul>
  <p class="mt-2 font-semibold" style="color:#cdcdcd; padding-top:10px; margin-top:10px; border-top:1px solid #727272">Update Information List</p>

  <ul style="font-weight:600;">
    {update.map((update) => {
      return update.category==="Article" && (
      <li class="my-1">
        <time style="color:#ff9a4b;" class="text-sm" datetime={`${update.date}T00:00:00+09:00`}>{update.date}</time>
        {' : '}
        <a href={`/updates/${update.slug}`} class="text-[#c9c9c9] hover:underline hover:underline-offset-4">
          {update.title}
        </a>
      </li>
    )
    }).filter(Boolean).slice(0, 3)}
  </ul>

  <p style="margin-top:10px; text-align:right;">
    <a href="/updates/" class="gold underline">→ View all announcements</a>
  </p>
</div>
</main>
</Layout>

