---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Information Literacy";
const pubDate = "2025-12-01";
const modDate = "2025-12-20";
const image = {
    url: '/images/information-literacy.jpg',
    alt: 'Information Literacy Image',
};
const description = "This page introduces articles related to information literacy, compiled by Nao.";
---

<PageLayout pageTitle={pageTitle} description={description} pubDate={pubDate} modDate={modDate} image={image}>
<h2>Overview</h2>
<p>Enhancing information literacy is an important concept directly linked to both <a href="/mental-health/" class="link">mental health</a> and 21st-century thinking.</p>
<h2>Articles</h2>

<h3>Considering Mental Health from the Perspective of Information Literacy</h3>
<span>Tags: <a href="/tags/mental-health" class="link">Mental Health</a></span>
<ul class="menu-list">
<li><a href="/info-literacy/how-search-and-ai-evaluate-medical-content">Why do search engines and AI select “dubious medical articles”? — The limitations of algorithms and SEO —</a></li>
</ul>

<h3>Considering Information Literacy from the Perspective of Metacognition</h3>
<span>Tags: <a href="/tags/metacognition" class="link">Metacognition</a></span>
<ul class="menu-list">
<li><a href="/info-literacy/metacognition-mental-health">"Wait a minute, is that true?" The story of "metacognition" that nurtures oneself not to be swayed by information</a></li>
</ul>


<h3>Acquiring Information Literacy from the Perspective of Thought</h3>
<span>Tags: <a href="/tags/thought" class="link">Thought</a></span>
<ul class="menu-list">
<li><a href="/info-literacy/survival-theory">Socially Vulnerable Survival Theory - Why the Right to Survival is Necessary -</a></li>
<li><a href="/info-literacy/thought">Stopped Thinking, No Future for Humans</a></li>
</ul>
</PageLayout>
