---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Mental Health";
const pubDate = "2025-12-01";
const modDate = "2025-12-20";
const image = {
    url: '/images/mental-health.jpg',
    alt: 'Mental Health Image',
};
const description = "This page introduces articles related to mental health, compiled by Nao.";
---

<PageLayout pageTitle={pageTitle} description={description} pubDate={pubDate} modDate={modDate} image={image}>
<h2>Overview</h2>
<p>Enhancing mental health aims to strengthen health awareness.
<br>
To pursue happiness, <a href="/info-literacy/" class="link">information literacy</a> and improving mental health are indispensable.
</p>
<h2>Articles</h2>
<h3>Considering Mental Health from the Perspective of Information Literacy</h3>
<span>Tags: <a href="/tags/information-literacy" class="link">Information Literacy</a></span>
<ul class="menu-list">
<li><a href="/mental-health/why-we-trust-medical-information">Why do we trust medical articles? ― Harmless medical information that hurts patients ―</a></li>
</ul>
<h3>Training Mental Health from the Perspective of Thought</h3>
<span>Tags: <a href="/tags/thought" class="link">Thought</a></span>
<ul class="menu-list">
<li><a href="/mental-health/sns-sos">Invisible SOS Appearing on SNS</a></li>
<li><a href="/mental-health/sns-sos2">Ordinary sentences that actually have a hidden meaning - Invisible SOS appearing in SOS -</a></li>
</ul>
<h3>Experiences</h3>
<span>Tags: <a href="/tags/experiences" class="link">Experiences</a></span>
<ul class="menu-list">
<li><a href="/mental-health/schizophrenia">The World of Delusions as Seen by a Person with Schizophrenia (with Logs)</a></li>
<li><a href="/mental-health/journaling">Meditation is a hassle? Introducing writing meditation as my experience!</a></li>
<li><a href="/mental-health/vps-ghost">A Patient's Record of Fighting Ghost with VPS Setup During Protective Hospitalization</a></li>
</ul>
<h3>Mini Columns</h3>
<span>Tags: <a href="/tags/mini-columns" class="link">Mini Columns</a></span>
<ul class="menu-list">
<li><a href="/mental-health/serotonin">【Sad News】Serotonin: ‘It's winter, so I'm taking a break.’</a></li>
</ul>
</PageLayout>
