---
import Layout from "./Layout.astro";
import References from '@components/References.astro';
import Sns from '@components/Sns.astro';
function getIsUrl(pathname) {
  return Astro.url.pathname === pathname;
}

function getIsUrlStartsWith(pathnameStart) {
  return Astro.url.pathname.startsWith(pathnameStart);
}
const { frontmatter } = Astro.props;
const siteUrl = Astro.site?.toString().replace(/\/$/, "") ?? "";
const url = new URL(Astro.url.pathname, siteUrl);
const jaURL = new URL(Astro.url.pathname, 'https://naomina121.com');
---

<Layout frontmatter={frontmatter}>
    <h1>{frontmatter.pageTitle}</h1>
<ul class="tags mb-0 flex flex-wrap gap-2 my-0 w-full justify-end">
  {frontmatter.tags.map((item: string) => (
    <li>
      <a class="tag" href={`/tags/${item}`}>#{item}</a>
    </li>
  ))}

  <li class="mb-2 text-sm">
    📰Created: <time datetime={`${frontmatter.pubDate}T00:00:00+09:00`}>{frontmatter.pubDate.toString().slice(0,10)}</time>
  </li>

  {frontmatter.modDate && (
    <li class="mb-2 text-sm">
      ✏️Last Updated: <time datetime={`${frontmatter.modDate}T00:00:00+09:00`}>{frontmatter.modDate.toString().slice(0,10)}</time>
    </li>
  )}

  {getIsUrlStartsWith("/podcast/") || getIsUrlStartsWith("/materials/") ? null : (
    frontmatter.githubUrl ? (
      <>
        <li>
          <a class="underline text-sm mb-2 link hover:no-underline" target="_blank" href={frontmatter.githubUrl}>(GitHub Source)</a>
        </li>
        <li>
          <a style="color:gold;" class="underline text-sm mb-2 hover:no-underline" href={jaURL.toString()}>ja</a> / en
        </li>
      </>
    ) : (
      <li>
          <a style="color:gold;" class="underline text-sm mb-2 hover:no-underline" href={jaURL.toString()}>ja</a> / en
      </li>
    )
  )}
</ul>
    <p class="mt-0 mb-6 text-right text-sm">📖Author: {frontmatter.author}</p>
    {getIsUrl("/podcast/") ||  getIsUrlStartsWith("/about/") || getIsUrlStartsWith("/podcast/") ? null :frontmatter.image ? <img src={frontmatter.image.url} class="w-full max-w-[820px] max-h-[500px] object-cover" alt={frontmatter.image.alt} /> : null}
{getIsUrlStartsWith("/podcast/") ? null : !getIsUrl("/about/") || !getIsUrlStartsWith("/about/") ? null : <div class="timeCount my-6">
    <span class="timeCountTitle">
    📖 Estimated Reading Time：
    </span>
    <span class="timeCountSpan">
        This article takes about <span class="bold">{frontmatter.minutesRead}</span> minutes to read.
    </span>
    </div>
  }
    <slot />
    {frontmatter.referrals && <References references={frontmatter.referrals} />}
    {!getIsUrlStartsWith("/materials/") && (
    <Sns frontmatter={frontmatter} url={url} />
    )}
</Layout>